<section>

  <div class="footer_content_container">
    <article class="footer_content_section">
      <article>
        <p class="footer_header"> Encontre Imóveis</p>
        <div>
          <ul>
            <li>Venda</li>
            <li>Aluguel</li>
            <li>Lançamentos</li>
            <li>Guia dos Bairros</li>
            <li>Alugar barato</li>
            <li>Comprar barato</li>
            <li>Financiamento Imobiliário</li>
            <li>Explorar</li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header">Institucinal </p>
        <div>
          <ul>
            <li>Quer trabalhar conosco</li>
            <li>Mapa do site</li>
            <li>Blog</li>
            <li>Ajuda</li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header"> Anunciante</p>

        <div>
          <ul>
            <li>Anunciar imóvel</li>
            <li>Política de Qualidade</li>
          </ul>
        </div>
      </article>
    </article>
  </div>
</section>
