<section>

  <div class="footer_content_container">
    <article class="footer_content_section">
      <article>
        <p class="footer_header"> Encontre Imóveis</p>
        <div>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header">Institucinal </p>

        <div>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header"> Anunciante</p>

        <div>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
      </article>
    </article>
  </div>
</section>
