<section>

  <div class="footer_content_container">
    <article class="footer_content_section">
      <article>
        <p class="footer_header"> Encontre Imóveis</p>
        <div>
          <ul>
            <li>Venda</li>
            <li>Aluguel</li>
            <li>Lançamentos</li>
            <li>Guia dos Bairros</li>
            <li>Alugar barato</li>
            <li>Comprar barato</li>
            <li>Financiamento Imobiliário</li>
            <li>Explorar</li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header">Institucinal </p>
        <div>
          <ul>
            <li>Quer trabalhar conosco?</li>
            <li>Mapa do site</li>
            <li>Blog</li>
            <li>Ajuda</li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header"> Anunciante</p>
        <div>
          <ul>
            <li>Anunciar imóvel</li>
            <li>Política de Qualidade</li>
          </ul>
        </div>
      </article>

      <article>
        <p class="footer_header">Redes Sociais</p>
        <div>
          <ul>
            <div class="socialMedia_container">
              <li><a
                  href="https://www.facebook.com/campaign/landing.php?&campaign_id=1661784632&extra_1=s%7Cc%7C320269324053%7Ce%7Cfacebook%7C&placement=&creative=320269324053&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1661784632%26adgroupid%3D63686352403%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D1001566%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiAjMKqBhCgARIsAPDgWlxC6w1aDUAzRI4ZDspW6KUtMhlTNtweCpW5Y0ban8F4KS50oPz6QIkaAvM5EALw_wcB">
                  <img src="\assets\imgs\icons8-facebook-50.png" style="width: 40px;"></a></li>
              <li><a href="https://www.pinterest.com/"><img src="\assets\imgs\icons8-pinterest-50.png"
                    style="width: 40px;"></a> </li>
              <li class="border_icon"><a href="https://www.youtube.com/?feature=youtu.be"><img
                    src="\assets\imgs\icons8-youtube-50.png" style="width: 35px;"></a></li>
              <li class="border_icon"><a href="https://www.instagram.com/"><img
                    src="\assets\imgs\icons8-instagram-50.png" style="width: 35px;"></a></li>
            </div>
          </ul>
        </div>
      </article>
    </article>

  </div>
</section>
