<div class="search">
  <img src="assets\imgs\brooke-cagle-WHWYBmtn3_0-unsplash.jpg" width="600" alt="">

  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()" id="searchForm">
    <h1>O seu novo lar você encontra aqui!</h1>

    <div class="form-tabs">
      <span (click)="OnSet()">Comprar</span>
      <span (click)="OnSet()">Alugar</span>
      <span class="tab-selected" [ngClass]="{'tab-select--right' :  sale}"></span>
    </div>
    <hr class="form-divisor">



    <div class="form-direction">
      <div class="form-container">
        <mat-label>Onde deseja morar?</mat-label>
        <mat-form-field appearance="outline" [style.width.vw]="30">
          <input matInput placeholder="Digite o nome da rua, bairro ou cidade" formControlName="lougradouro">
        </mat-form-field>
      </div>

      <div class="form-container">
        <mat-label>Tipo de imóvel</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="tipo" #select multiple>
            <mat-option id="checked" aria-checked="true" (onSelectionChange)="toggleAllSelection()">Selectionar
              todos </mat-option>
            <mat-optgroup *ngFor="let grupo of grupos">
              <mat-option *ngFor="let tipo of tipos" [value]="tipoImv"> {{tipo.tipo}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <span class="search-button-container"><button type="submit" form="searchForm"
          class="search-button">Buscar</button></span>
    </div>

  </form>
</div>
