<div class="card-container">
  <mat-card *ngFor="let imovel of imoveis">
    <mat-card-content class="propery-card-adress">
      <span>{{imovel.endereco.rua}}, {{imovel.endereco.numero}} - {{imovel.endereco.bairro}}, {{imovel.endereco.cidade}}
        - {{imovel.endereco.uf}}</span>
    </mat-card-content>
    <mat-card-content class="card-title">
      <span>{{imovel.descricao}}</span>
    </mat-card-content>
    <mat-card-content class="card-details">
      {{imovel.metrosQuadrados}}m² - {{imovel.qtdDormitorio}} Quartos - {{imovel.qtdBanheiro}} Banheiros
    </mat-card-content>
  </mat-card>
</div>
