.propery-card-adress {
  color: rgba(0, 0, 0, .54);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.card-title {
  color: rgba(0, 0, 0, .87);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: flex-end;
}

.card-details {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

}
