<div>
  <section style="display: flex; flex-direction: column;"><app-search-form></app-search-form></section>
</div>

<section>
  <div>
    <h2 class="category_title">Encontre o imóvel ideal para seu estilo de vida</h2>
  </div>

  <div class="categories">
    <div class="category">
      <img src="\assets\imgs\yogendra-singh-K8JxScoZb4A-unsplash.jpg"
        alt="Seus patudos com você. Encontre as melhores ofertas de aluguel de imóveis para você e seu pet.">
      <h2>Pronto para seu pet</h2>
      <p>Seus patudos com você. Encontre as melhores ofertas de aluguel de imóveis para você e seu pet.</p>
    </div>

    <div class="category">
      <img src="\assets\imgs\jerry-wang-u98NbETbj4M-unsplash.jpg" alt="">
      <h2>Mais espaço para a sua família </h2>
      <p>Se é varanda e áreas comuns que você procura, veja essa seleção de apartamentos e casas à venda.</p>
    </div>

    <div class="category">
      <img src="\assets\imgs\becca-tapert-O7sK3d3TPWQ-unsplash.jpg" alt="">
      <h2>Mobiliados para locação</h2>
      <p>Não quer gastar com móveis agora? Veja os melhores imóveis mobiliados para alugar. Pronto para entrar e
        morar.</p>
    </div>

    <div class="category">
      <img src="\assets\imgs\cytonn-photography-n95VMLxqM2I-unsplash.jpg" alt="">
      <h2>Aluguel sem fiador</h2>
      <p>Alugar o imóvel dos sonhos nunca foi tão fácil! Encontre os melhores imóveis para alugar.</p>
    </div>
  </div>
</section>
