.category_title {
  text-align: center;
  color: var(--font-primary);
  font-weight: 500;
  margin: 50px 10px 10px 10px;
}

.category img {
  border-radius: 8px;
  height: 178px;
  object-fit: cover;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 10px 10px 10px;
  align-items: baseline;
}

.categories h2 {
  font-weight: 500;
  color: var(--font-primary);
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.category {
  display: flex;
  flex-direction: column;
  max-width: 293px;
  margin: 10px
}

.category p {
  margin-top: -10px;
}
