<div>
  <section style="display: flex; flex-direction: column;"><app-search-form></app-search-form></section>
</div>

<section class="categories">
  <div>
    <h2 class="category_title">Encontre o imóvel ideal para seu estilo de vida</h2>
  </div>
  <div class="category">
    <div class="secondary_categories">
      <img src="\assets\imgs\yogendra-singh-K8JxScoZb4A-unsplash.jpg"
        alt="Seus patudos com você. Encontre as melhores ofertas de aluguel de imóveis para você e seu pet.">
      <div>
        <h2>Pronto para seu pet</h2>
        <span>
          <!-- <p>Seus patudos com você. Encontre as melhores ofertas de aluguel de imóveis para você e seu pet.</p> -->
        </span>
      </div>

      <img src="\assets\imgs\jerry-wang-u98NbETbj4M-unsplash.jpg" alt="">

      <img src="\assets\imgs\becca-tapert-O7sK3d3TPWQ-unsplash.jpg" alt="">

      <img src="\assets\imgs\cytonn-photography-n95VMLxqM2I-unsplash.jpg" alt="">

    </div>
  </div>
</section>
