/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.mdc-card {
  width: 50rem;
}

